
@{
    ViewBag.Title = "SucessoImportacao";
}

<div class="starter-template">
    <h2>Arquivos importados com sucesso.</h2>

    <p>
        <a href="/home">Importar mais arquivos...</a>
    </p>
</div>