@using MyInvests.Mvc.Models.Relatorio

@{
    ViewBag.Title = "Index";
}

@section scripts{
    
    }


<div class="starter-template">
    <h1>Relatório de renda fixa</h1>

    @Html.Action("RendaFixa")

</div>

